body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

div {
    display: inline-block;
    float: left;
    width: 100%;
    height: 100vh;
    background-color: red; 
}

    .container {
        display: inline-block;
        float: left;
        width: 1000px;
        height: 500px;
        background-color: mediumspringgreen; 
        margin-left: calc((100% - 1000px) / 2);
        margin-top: 110px; 
    }

h1 {
    display: inline-block;
    float: left;
    color: darkkhaki;
    font-size: 50px;
    padding: 20px;
}

p { display: inline-block;
    float: right;
    color: violet;
    font-size: 50px;
    padding: 20px;
}

span {
    display: inline-block;
    float: right;
    color: blue;
    font-size: 50px;
    padding: 20px;
}